body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #010201;
}

#perfil {
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(17, 48, 25);
}

.descricao {
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

a[href^="mailto"] {
    color: #3774b6;
    font-weight: bold;
}

a:hover {
    color: rgb(17, 48, 25);
    text-decoration: underline;
}

ul,
ol {
    margin-left: 20px;
}